USE [master]
GO
/****** Object:  Database [Cinema]    Script Date: 03/13/2022 00:11:47 ******/
CREATE DATABASE [Cinema] ON  PRIMARY 
( NAME = N'Cinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Cinema.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Cinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Cinema_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seat](
	[seatId] [varchar](5) NOT NULL,
	[seatNumber] [int] NOT NULL,
	[seatRow] [char](5) NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seatId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Seat] ([seatId], [seatNumber], [seatRow], [price]) VALUES (N'A1', 1, N'A    ', 55000)
INSERT [dbo].[Seat] ([seatId], [seatNumber], [seatRow], [price]) VALUES (N'A2', 2, N'A    ', 55000)
INSERT [dbo].[Seat] ([seatId], [seatNumber], [seatRow], [price]) VALUES (N'A3', 3, N'A    ', 55000)
/****** Object:  Table [dbo].[Room]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Room](
	[roomId] [varchar](5) NOT NULL,
	[roomName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roomId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Room] ([roomId], [roomName]) VALUES (N'1', N'Cinema 1')
INSERT [dbo].[Room] ([roomId], [roomName]) VALUES (N'2', N'Cinema 2')
INSERT [dbo].[Room] ([roomId], [roomName]) VALUES (N'3', N'Cinema 3')
/****** Object:  Table [dbo].[Role]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (2, N'staff')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (3, N'user')
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Recruitment]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruitment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[date] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Recruitment] ON
INSERT [dbo].[Recruitment] ([ID], [img], [Title], [content], [date]) VALUES (5, N'td1.png', N'Bảo Vệ', N'tuyển vị trí', CAST(0xA8430B00 AS Date))
SET IDENTITY_INSERT [dbo].[Recruitment] OFF
/****** Object:  Table [dbo].[Promotion]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](2500) NULL,
	[Content] [nvarchar](2500) NULL,
	[imageLink] [nvarchar](1000) NULL,
	[date] [date] NULL,
	[discount] [float] NULL,
	[MAGIAM] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON
INSERT [dbo].[Promotion] ([ID], [Title], [Content], [imageLink], [date], [discount], [MAGIAM]) VALUES (1, N'MUA 2 TẶNG 1 6hh', N'a', N'promotion3.png', CAST(0x5F440B00 AS Date), 0, N'MUA2TANG1')
INSERT [dbo].[Promotion] ([ID], [Title], [Content], [imageLink], [date], [discount], [MAGIAM]) VALUES (2, N'YÊU ĐI ĐỪNG NGẠI', N'Tên chương trình: Yêu Đi Đừng Ngại</br>Thời gian áp dụng: Từ 9/2/2022 – hết 14/2/2022</br>Nội dung: Khách hàng mua các combo Tình Yêu được tặng 01 thẻ bài Tarrot.</br>Điều kiện áp dụng:</br>Số lượng quà có hạn nên chương trình có thể kết thúc sớm mà không báo trước.</br>Áp dụng giảm giá dành cho thành viên', N'promotion6.png', CAST(0x91430B00 AS Date), 10, N'YEUDIDUNGNGAI')
INSERT [dbo].[Promotion] ([ID], [Title], [Content], [imageLink], [date], [discount], [MAGIAM]) VALUES (3, N'HAPPY MONDAY – THỨ 2 VUI VẺ', N'– Chương trình:  THỨ 2 VUI VẺ </br>– Hình thức áp dụng: Giá vé 2D đặc biệt cho khách hàng xem phim vào ngày thứ 2 hàng tuần. </br>– Đối tượng áp dụng: Vé người lớn.', N'promotion2.png', CAST(0x643B0B00 AS Date), 10, N'THU2VUIVE')
SET IDENTITY_INSERT [dbo].[Promotion] OFF
/****** Object:  Table [dbo].[Fastfood]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fastfood](
	[foodId] [int] IDENTITY(1,1) NOT NULL,
	[category] [varchar](30) NULL,
	[name] [nvarchar](100) NULL,
	[price] [float] NULL,
	[img] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[foodId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Fastfood] ON
INSERT [dbo].[Fastfood] ([foodId], [category], [name], [price], [img]) VALUES (1, N'food', N'Bỏng phô mai que', 50000, N'Bpm.jpg')
INSERT [dbo].[Fastfood] ([foodId], [category], [name], [price], [img]) VALUES (2, N'food', N'Bỏng socola', 50000, N'Bscl.jpg')
INSERT [dbo].[Fastfood] ([foodId], [category], [name], [price], [img]) VALUES (3, N'food', N'Bỏng caramel', 50000, N'Bcrm.jpg')
SET IDENTITY_INSERT [dbo].[Fastfood] OFF
/****** Object:  Table [dbo].[CVInfor]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVInfor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[CV] [nvarchar](max) NULL,
	[date] [date] NULL,
	[chucvu] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CVInfor] ON
INSERT [dbo].[CVInfor] ([ID], [Fullname], [CV], [date], [chucvu], [status]) VALUES (1, N'Nguyễn Lê Bảo Ngọc', N'cv1.png', CAST(0xA5430B00 AS Date), N'Nhân Viên bán hàng', N'Interview')
INSERT [dbo].[CVInfor] ([ID], [Fullname], [CV], [date], [chucvu], [status]) VALUES (2, N'Christopher Mogan', N'cv2.png', CAST(0xA5430B00 AS Date), N'Marketing', N'Waiting')
INSERT [dbo].[CVInfor] ([ID], [Fullname], [CV], [date], [chucvu], [status]) VALUES (3, N'Lê Thị Quỳnh A', N'cv3.png', CAST(0xA5430B00 AS Date), N'Sale Team Leader', N'Reject')
SET IDENTITY_INSERT [dbo].[CVInfor] OFF
/****** Object:  Table [dbo].[ChucVu]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chucvuName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Img] [varchar](2500) NULL,
	[Title] [nvarchar](2500) NULL,
	[desc] [nvarchar](2500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Banner] ON
INSERT [dbo].[Banner] ([ID], [Img], [Title], [desc]) VALUES (1, N'banner1.png', N'Phim kinh dị mới', N'Phim kinh dị mới phá đổ mọi kỉ lục cũ')
INSERT [dbo].[Banner] ([ID], [Img], [Title], [desc]) VALUES (2, N'banner2.png', N'Phim hài', N'Phim hài')
INSERT [dbo].[Banner] ([ID], [Img], [Title], [desc]) VALUES (3, N'banner3.png', N'Phim hành động mới', N'Kịch tính, hồi hộp')
SET IDENTITY_INSERT [dbo].[Banner] OFF
/****** Object:  Table [dbo].[MovieRoom]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieRoom](
	[movieRoomId] [int] IDENTITY(1,1) NOT NULL,
	[premiere] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[movieRoomId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MovieRoom] ON
INSERT [dbo].[MovieRoom] ([movieRoomId], [premiere]) VALUES (1, CAST(0x9D430B00 AS Date))
INSERT [dbo].[MovieRoom] ([movieRoomId], [premiere]) VALUES (2, CAST(0x9D430B00 AS Date))
INSERT [dbo].[MovieRoom] ([movieRoomId], [premiere]) VALUES (3, CAST(0x9D430B00 AS Date))
SET IDENTITY_INSERT [dbo].[MovieRoom] OFF
/****** Object:  Table [dbo].[Movie]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movie](
	[movieId] [int] IDENTITY(1,1) NOT NULL,
	[movieName] [nvarchar](100) NOT NULL,
	[image] [varchar](max) NOT NULL,
	[categoryMovie] [nvarchar](50) NOT NULL,
	[describe] [nvarchar](max) NOT NULL,
	[trailer] [varchar](max) NULL,
	[author] [nvarchar](30) NOT NULL,
	[actor] [nvarchar](max) NOT NULL,
	[duration] [varchar](6) NOT NULL,
	[premiere] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[movieId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON
INSERT [dbo].[Movie] ([movieId], [movieName], [image], [categoryMovie], [describe], [trailer], [author], [actor], [duration], [premiere]) VALUES (10, N'CỔNG ĐỊA NGỤC', N'congdianguc.png', N'Kinh Dị', N'Được dịch từ tiếng Anh-Guimoon: The Lightless Door là một bộ phim kinh dị Hàn Quốc năm 2021, do Kim Yong-wan đạo diễn và có sự tham gia của Kim Kang-woo, Kim So-hye và Lee Jung-hyung. Phim được sản xuất đồng thời ở các phiên bản 2D, ScreenX và 4DX.', N'https://www.youtube.com/embed/_Di_PJyDGIg', N'Sim Deok-geun', N'Kim Kang-woo, Kim So-hye, Lee Jung-hyung', N'85', CAST(0xA1430B00 AS Date))
SET IDENTITY_INSERT [dbo].[Movie] OFF
/****** Object:  Table [dbo].[Notification]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationId] [int] IDENTITY(1,1) NOT NULL,
	[notificationImg] [nvarchar](50) NULL,
	[notificationTitle] [nvarchar](100) NULL,
	[notificationDescription] [nvarchar](2500) NULL,
	[notificationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Notification] ON
INSERT [dbo].[Notification] ([notificationId], [notificationImg], [notificationTitle], [notificationDescription], [notificationDate]) VALUES (2, N'canh_bao_08032022.jpg', N'Thông báo quan trọng', N'Hiện tại đang có một tổ chức giả mạo hình ảnh của Amazing Cinema để trục lợi cá nhân .</br>Chúng tôi mong khách hàng cẩn trọng, không để bị lừa.</br>Hiện tại chúng tôi chỉ có duy nhất 1 trang web này.</br>Nếu phát hiện đối tượng mạo danh, mong quý khách liên hệ qua hotline 0941815064.</br>Thông tin cụ thể liên hệ 0941815064.</br>Trân trọng!', CAST(0xB1430B00 AS Date))
INSERT [dbo].[Notification] ([notificationId], [notificationImg], [notificationTitle], [notificationDescription], [notificationDate]) VALUES (3, N'11032022.png', N'BẮT HỔ CHO BÉ', N'Chương trình: Bắt Hổ Cho Bé</br>Rạp áp dụng: Amazing Cinema toàn quốc</br>Thời gian: 11/03/2022 đến 31/03/2022</br>Nội dung: Tặng 01 hổ bông cho bé khi mua vé trẻ em kèm 01 vé người lớn.</br>Chi tiết liên hệ: 0941815064', CAST(0xB1430B00 AS Date))
SET IDENTITY_INSERT [dbo].[Notification] OFF
/****** Object:  Table [dbo].[MovieTime]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MovieTime](
	[timeId] [int] IDENTITY(1,1) NOT NULL,
	[slot] [varchar](10) NULL,
	[start] [time](7) NULL,
	[finish] [time](7) NULL,
	[movieId] [int] NULL,
	[roomId] [varchar](5) NULL,
	[movieRoomId] [int] NULL,
	[add] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[timeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](30) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[avatar] [varchar](max) NULL,
	[fullName] [nvarchar](30) NOT NULL,
	[DOB] [date] NULL,
	[email] [varchar](30) NOT NULL,
	[phone] [varchar](20) NULL,
	[roleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([username], [password], [avatar], [fullName], [DOB], [email], [phone], [roleId]) VALUES (N'admin', N'admin', N'profile-pic.jpg', N'Nguyễn Admin', CAST(0xF8170B00 AS Date), N'admin123@gmail.com', N'999999999', 1)
INSERT [dbo].[Account] ([username], [password], [avatar], [fullName], [DOB], [email], [phone], [roleId]) VALUES (N'chau123', N'123456', N'profile-pic.jpg', N'Bảo Châu Nguyễn Viết', CAST(0xC6260B00 AS Date), N'baochau41201@gmail.com', N'0334950656', 3)
INSERT [dbo].[Account] ([username], [password], [avatar], [fullName], [DOB], [email], [phone], [roleId]) VALUES (N'mkt', N'123456', N'profile-pic.jpg', N'marketing', CAST(0xC6260B00 AS Date), N'mkt.cinema@gmail.com', N'147147147', 4)
/****** Object:  Table [dbo].[Cart]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](30) NOT NULL,
	[totalPrice] [float] NOT NULL,
	[status] [bit] NULL,
	[orderDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[cartId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON
INSERT [dbo].[Cart] ([cartId], [username], [totalPrice], [status], [orderDate]) VALUES (1, N'nguyentienhuy', 0, 1, CAST(0x7D250B00 AS Date))
INSERT [dbo].[Cart] ([cartId], [username], [totalPrice], [status], [orderDate]) VALUES (2, N'nguyenvietbaochau', 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Cart] OFF
/****** Object:  Table [dbo].[Feedback]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](30) NOT NULL,
	[movieId] [int] NOT NULL,
	[feedback] [nvarchar](300) NULL,
	[rate] [int] NULL,
	[feedbackDate] [date] NULL,
	[feedbackTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[feedbackId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON
INSERT [dbo].[Feedback] ([feedbackId], [username], [movieId], [feedback], [rate], [feedbackDate], [feedbackTime]) VALUES (1, N'tranvietdanhthai', 7, N'Phim rất hay', 5, CAST(0x6C430B00 AS Date), CAST(0x07805703E7B00000 AS Time))
INSERT [dbo].[Feedback] ([feedbackId], [username], [movieId], [feedback], [rate], [feedbackDate], [feedbackTime]) VALUES (2, N'nguyentienhuy', 7, N'Hơi hay', 4, CAST(0x6C430B00 AS Date), CAST(0x07804757155D0000 AS Time))
INSERT [dbo].[Feedback] ([feedbackId], [username], [movieId], [feedback], [rate], [feedbackDate], [feedbackTime]) VALUES (3, N'nguyengiangnam', 7, N'Ổn', 3, CAST(0x8B430B00 AS Date), CAST(0x07804757155D0000 AS Time))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
/****** Object:  Table [dbo].[NotificationAccount]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationAccount](
	[notificationId] [int] NOT NULL,
	[username] [nvarchar](30) NOT NULL,
	[readed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC,
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NotificationAccount] ([notificationId], [username], [readed]) VALUES (1, N'admin', 0)
INSERT [dbo].[NotificationAccount] ([notificationId], [username], [readed]) VALUES (1, N'chau123', 0)
INSERT [dbo].[NotificationAccount] ([notificationId], [username], [readed]) VALUES (1, N'mkt', 0)
/****** Object:  Table [dbo].[SeatRoom]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SeatRoom](
	[seatRoomId] [int] IDENTITY(1,1) NOT NULL,
	[status] [bit] NULL,
	[seatId] [varchar](5) NOT NULL,
	[timeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[seatRoomId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SeatRoom] ON
INSERT [dbo].[SeatRoom] ([seatRoomId], [status], [seatId], [timeId]) VALUES (1345, 0, N'A1', NULL)
INSERT [dbo].[SeatRoom] ([seatRoomId], [status], [seatId], [timeId]) VALUES (1346, 0, N'A2', NULL)
INSERT [dbo].[SeatRoom] ([seatRoomId], [status], [seatId], [timeId]) VALUES (1347, 0, N'A3', NULL)
SET IDENTITY_INSERT [dbo].[SeatRoom] OFF
/****** Object:  Table [dbo].[SeatRoomCart]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatRoomCart](
	[seatRoomCartId] [int] IDENTITY(1,1) NOT NULL,
	[seatRoomId] [int] NOT NULL,
	[cartId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seatRoomCartId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SeatRoomCart] ON
INSERT [dbo].[SeatRoomCart] ([seatRoomCartId], [seatRoomId], [cartId]) VALUES (1, 1345, 1)
INSERT [dbo].[SeatRoomCart] ([seatRoomCartId], [seatRoomId], [cartId]) VALUES (2, 1346, 1)
INSERT [dbo].[SeatRoomCart] ([seatRoomCartId], [seatRoomId], [cartId]) VALUES (4, 1347, 2)
SET IDENTITY_INSERT [dbo].[SeatRoomCart] OFF
/****** Object:  Table [dbo].[FastFoodCart]    Script Date: 03/13/2022 00:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FastFoodCart](
	[fastfoodCartId] [int] IDENTITY(1,1) NOT NULL,
	[foodId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[cartId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fastfoodCartId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FastFoodCart] ON
INSERT [dbo].[FastFoodCart] ([fastfoodCartId], [foodId], [quantity], [cartId]) VALUES (1, 1, 1, 1)
INSERT [dbo].[FastFoodCart] ([fastfoodCartId], [foodId], [quantity], [cartId]) VALUES (2, 4, 2, 1)
INSERT [dbo].[FastFoodCart] ([fastfoodCartId], [foodId], [quantity], [cartId]) VALUES (3, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[FastFoodCart] OFF
/****** Object:  Check [CK__CVInfor__chucvu__403A8C7D]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[CVInfor]  WITH CHECK ADD CHECK  (([Chucvu] like 'Marketing' OR [Chucvu] like 'Nhân viên bán hàng' OR [Chucvu] like 'Sale Team Leader'))
GO
/****** Object:  Check [CK__CVInfor__status__412EB0B6]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[CVInfor]  WITH CHECK ADD CHECK  (([status] like 'Interview' OR [status] like 'Waiting' OR [status] like 'Reject'))
GO
/****** Object:  Check [CK__Cart__4222D4EF]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(1) OR [orderDate]=NULL))
GO
/****** Object:  Check [CK__Cart__4316F928]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(0) OR [orderDate]<>NULL))
GO
/****** Object:  Check [CK__Cart__440B1D61]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(1) OR [orderDate]=NULL))
GO
/****** Object:  Check [CK__Cart__44FF419A]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(0) OR [orderDate]<>NULL))
GO
/****** Object:  Check [CK__Cart__45F365D3]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='True' OR [orderDate] IS NULL))
GO
/****** Object:  Check [CK__Cart__46E78A0C]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='False' OR [orderDate] IS NOT NULL))
GO
/****** Object:  Check [CK__Cart__47DBAE45]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(1) OR [orderDate]=NULL))
GO
/****** Object:  Check [CK__Cart__48CFD27E]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(0) OR [orderDate]<>NULL))
GO
/****** Object:  Check [CK__Cart__49C3F6B7]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(1) OR [orderDate]=NULL))
GO
/****** Object:  Check [CK__Cart__4AB81AF0]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(0) OR [orderDate]<>NULL))
GO
/****** Object:  Check [CK__Cart__4BAC3F29]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='True' OR [orderDate] IS NULL))
GO
/****** Object:  Check [CK__Cart__4CA06362]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='False' OR [orderDate] IS NOT NULL))
GO
/****** Object:  Check [CK__Cart__4D94879B]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(1) OR [orderDate]=NULL))
GO
/****** Object:  Check [CK__Cart__4E88ABD4]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(0) OR [orderDate]<>NULL))
GO
/****** Object:  Check [CK__Cart__4F7CD00D]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(1) OR [orderDate]=NULL))
GO
/****** Object:  Check [CK__Cart__5070F446]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(0) OR [orderDate]<>NULL))
GO
/****** Object:  Check [CK__Cart__5165187F]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='True' OR [orderDate] IS NULL))
GO
/****** Object:  Check [CK__Cart__52593CB8]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='False' OR [orderDate] IS NOT NULL))
GO
/****** Object:  Check [CK__Cart__534D60F1]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(1) OR [orderDate]=NULL))
GO
/****** Object:  Check [CK__Cart__5441852A]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(0) OR [orderDate]<>NULL))
GO
/****** Object:  Check [CK__Cart__5535A963]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(1) OR [orderDate]=NULL))
GO
/****** Object:  Check [CK__Cart__5629CD9C]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]=(0) OR [orderDate]<>NULL))
GO
/****** Object:  Check [CK__Cart__571DF1D5]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='True' OR [orderDate] IS NULL))
GO
/****** Object:  Check [CK__Cart__5812160E]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='False' OR [orderDate] IS NOT NULL))
GO
/****** Object:  ForeignKey [FK__MovieTime__movie__0D7A0286]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[MovieTime]  WITH CHECK ADD FOREIGN KEY([movieId])
REFERENCES [dbo].[Movie] ([movieId])
GO
/****** Object:  ForeignKey [FK__MovieTime__movie__0F624AF8]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[MovieTime]  WITH CHECK ADD FOREIGN KEY([movieRoomId])
REFERENCES [dbo].[MovieRoom] ([movieRoomId])
GO
/****** Object:  ForeignKey [FK__MovieTime__roomI__0E6E26BF]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[MovieTime]  WITH CHECK ADD FOREIGN KEY([roomId])
REFERENCES [dbo].[Room] ([roomId])
GO
/****** Object:  ForeignKey [FK__Account__roleId__66603565]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
/****** Object:  ForeignKey [FK__Cart__username__6A30C649]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
/****** Object:  ForeignKey [fk_feedback_movieId]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [fk_feedback_movieId] FOREIGN KEY([movieId])
REFERENCES [dbo].[Movie] ([movieId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [fk_feedback_movieId]
GO
/****** Object:  ForeignKey [fk_feedback_username]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [fk_feedback_username] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [fk_feedback_username]
GO
/****** Object:  ForeignKey [FK__Notificat__notif__6477ECF3]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[NotificationAccount]  WITH CHECK ADD FOREIGN KEY([notificationId])
REFERENCES [dbo].[Notification] ([notificationId])
GO
/****** Object:  ForeignKey [FK__Notificat__usern__656C112C]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[NotificationAccount]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
/****** Object:  ForeignKey [FK__SeatRoom__seatId__59063A47]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[SeatRoom]  WITH CHECK ADD FOREIGN KEY([seatId])
REFERENCES [dbo].[Seat] ([seatId])
GO
/****** Object:  ForeignKey [FK__SeatRoom__timeId__10566F31]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[SeatRoom]  WITH CHECK ADD FOREIGN KEY([timeId])
REFERENCES [dbo].[MovieTime] ([timeId])
GO
/****** Object:  ForeignKey [FK__SeatRoomC__cartI__6E01572D]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[SeatRoomCart]  WITH CHECK ADD FOREIGN KEY([cartId])
REFERENCES [dbo].[Cart] ([cartId])
GO
/****** Object:  ForeignKey [FK__SeatRoomC__seatR__71D1E811]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[SeatRoomCart]  WITH CHECK ADD FOREIGN KEY([seatRoomId])
REFERENCES [dbo].[SeatRoom] ([seatRoomId])
GO
/****** Object:  ForeignKey [FK__FastFoodC__cartI__75A278F5]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[FastFoodCart]  WITH CHECK ADD FOREIGN KEY([cartId])
REFERENCES [dbo].[Cart] ([cartId])
GO
/****** Object:  ForeignKey [FK__FastFoodC__foodI__797309D9]    Script Date: 03/13/2022 00:11:48 ******/
ALTER TABLE [dbo].[FastFoodCart]  WITH CHECK ADD FOREIGN KEY([foodId])
REFERENCES [dbo].[Fastfood] ([foodId])
GO
