<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieListController</servlet-name>
        <servlet-class>controller.MovieViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountViewController</servlet-name>
        <servlet-class>controller.AccountViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountEditController</servlet-name>
        <servlet-class>controller.AccountEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieListController</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountViewController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountEditController</servlet-name>
        <url-pattern>/accountedit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
