<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieListController</servlet-name>
        <servlet-class>controller.ViewMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountViewController</servlet-name>
        <servlet-class>controller.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountEditController</servlet-name>
        <servlet-class>controller.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PremereController</servlet-name>
        <servlet-class>controller.PremereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComingSoonController</servlet-name>
        <servlet-class>controller.ComingSoonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionController</servlet-name>
        <servlet-class>controller.PromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionDetailController</servlet-name>
        <servlet-class>controller.PromotionDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBannerListConntroller</servlet-name>
        <servlet-class>controller.AdminBannerListConntroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddBannerController</servlet-name>
        <servlet-class>controller.AdminAddBannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditBannerController</servlet-name>
        <servlet-class>controller.AdminEditBannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteBannerController</servlet-name>
        <servlet-class>controller.AdminDeleteBannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPromotionListController</servlet-name>
        <servlet-class>controller.AdminPromotionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditPromotionController</servlet-name>
        <servlet-class>controller.AdminEditPromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeletePromotionController</servlet-name>
        <servlet-class>controller.AdminDeletePromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSeatController</servlet-name>
        <servlet-class>controller.ViewSeatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddPromotionController</servlet-name>
        <servlet-class>controller.AdminAddPromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreMovieController</servlet-name>
        <servlet-class>controller.LoadMoreMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovieController</servlet-name>
        <servlet-class>controller.SearchMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListUserController</servlet-name>
        <servlet-class>controller.AdminListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListAccount</servlet-name>
        <servlet-class>controller.AdminListAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditAccountController</servlet-name>
        <servlet-class>controller.AdminEditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteAccountController</servlet-name>
        <servlet-class>controller.AdminDeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddAccountController</servlet-name>
        <servlet-class>controller.AdminAddAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitmentController</servlet-name>
        <servlet-class>controller.RecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitmentDetailsController</servlet-name>
        <servlet-class>controller.RecruitmentDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddRecruitmentController</servlet-name>
        <servlet-class>controller.AdminAddRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRecruitmentListController</servlet-name>
        <servlet-class>controller.AdminRecruitmentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRecruitmentController</servlet-name>
        <servlet-class>controller.AdminDeleteRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditRecruitmentController</servlet-name>
        <servlet-class>controller.AdminEditRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListCVController</servlet-name>
        <servlet-class>controller.AdminListCVController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddCVInforController</servlet-name>
        <servlet-class>controller.UserAddCVInforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>controller.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchAccountController</servlet-name>
        <servlet-class>controller.AdminSearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Showtimes</servlet-name>
        <servlet-class>controller.ShowtimesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddShowtimesController</servlet-name>
        <servlet-class>controller.AdminAddShowtimesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListShowtimesController</servlet-name>
        <servlet-class>controller.AdminListShowtimesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteShowtimesController</servlet-name>
        <servlet-class>controller.AdminDeleteShowtimesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditShowtimesController</servlet-name>
        <servlet-class>controller.AdminEditShowtimesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddNotificationController</servlet-name>
        <servlet-class>controller.AdminAddNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListNotificationController</servlet-name>
        <servlet-class>controller.AdminListNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditNotificationController</servlet-name>
        <servlet-class>controller.AdminEditNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteNotificationController</servlet-name>
        <servlet-class>controller.AdminDeleteNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchNotificationController</servlet-name>
        <servlet-class>controller.AdminSearchNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNotificationController</servlet-name>
        <servlet-class>controller.ViewNotificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieListController</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountViewController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountEditController</servlet-name>
        <url-pattern>/accountedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PremereController</servlet-name>
        <url-pattern>/premere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComingSoonController</servlet-name>
        <url-pattern>/coming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionController</servlet-name>
        <url-pattern>/promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionDetailController</servlet-name>
        <url-pattern>/promotion_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBannerListConntroller</servlet-name>
        <url-pattern>/adminbannerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddBannerController</servlet-name>
        <url-pattern>/add_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditBannerController</servlet-name>
        <url-pattern>/edit_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteBannerController</servlet-name>
        <url-pattern>/delete_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPromotionListController</servlet-name>
        <url-pattern>/adminpromotionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditPromotionController</servlet-name>
        <url-pattern>/edit_promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeletePromotionController</servlet-name>
        <url-pattern>/delete_promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSeatController</servlet-name>
        <url-pattern>/seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddPromotionController</servlet-name>
        <url-pattern>/add_promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreMovieController</servlet-name>
        <url-pattern>/loadmoremovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovieController</servlet-name>
        <url-pattern>/searchmovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListUserController</servlet-name>
        <url-pattern>/adminuserlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitmentController</servlet-name>
        <url-pattern>/recruitment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitmentDetailsController</servlet-name>
        <url-pattern>/recruitment_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddRecruitmentController</servlet-name>
        <url-pattern>/add_recruitment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRecruitmentListController</servlet-name>
        <url-pattern>/adminrecruitmentlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRecruitmentController</servlet-name>
        <url-pattern>/delete_recruitment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditRecruitmentController</servlet-name>
        <url-pattern>/edit_recruitment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListUserController</servlet-name>
        <url-pattern>/adminuserlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListAccount</servlet-name>
        <url-pattern>/adminaccountlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditAccountController</servlet-name>
        <url-pattern>/adminaccountedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteAccountController</servlet-name>
        <url-pattern>/adminaccountdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddAccountController</servlet-name>
        <url-pattern>/adminaccountadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListCVController</servlet-name>
        <url-pattern>/admincvlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddCVInforController</servlet-name>
        <url-pattern>/add_CV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchAccountController</servlet-name>
        <url-pattern>/adminaccountsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Showtimes</servlet-name>
        <url-pattern>/showtimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddShowtimesController</servlet-name>
        <url-pattern>/add_showtimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListShowtimesController</servlet-name>
        <url-pattern>/adminshowtimeslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteShowtimesController</servlet-name>
        <url-pattern>/delete_showtimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditShowtimesController</servlet-name>
        <url-pattern>/edit_showtimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddNotificationController</servlet-name>
        <url-pattern>/adminnotificationadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListNotificationController</servlet-name>
        <url-pattern>/adminnotificationlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditNotificationController</servlet-name>
        <url-pattern>/adminnotificationedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteNotificationController</servlet-name>
        <url-pattern>/adminnotificationdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchNotificationController</servlet-name>
        <url-pattern>/adminnotificationsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNotificationController</servlet-name>
        <url-pattern>/notificationview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
