<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieListController</servlet-name>
        <servlet-class>controller.ViewMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountViewController</servlet-name>
        <servlet-class>controller.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountEditController</servlet-name>
        <servlet-class>controller.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PremereController</servlet-name>
        <servlet-class>controller.PremereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComingSoonController</servlet-name>
        <servlet-class>controller.ComingSoonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionController</servlet-name>
        <servlet-class>controller.PromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionDetailController</servlet-name>
        <servlet-class>controller.PromotionDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBannerListConntroller</servlet-name>
        <servlet-class>controller.AdminBannerListConntroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddBannerController</servlet-name>
        <servlet-class>controller.AdminAddBannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditBannerController</servlet-name>
        <servlet-class>controller.AdminEditBannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteBannerController</servlet-name>
        <servlet-class>controller.AdminDeleteBannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPromotionListController</servlet-name>
        <servlet-class>controller.AdminPromotionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditPromotionController</servlet-name>
        <servlet-class>controller.AdminEditPromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeletePromotionController</servlet-name>
        <servlet-class>controller.AdminDeletePromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSeatController</servlet-name>
        <servlet-class>controller.ViewSeatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassController</servlet-name>
        <servlet-class>controller.ForgotPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddPromotionController</servlet-name>
        <servlet-class>controller.AdminAddPromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreMovieController</servlet-name>
        <servlet-class>controller.LoadMoreMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovieController</servlet-name>
        <servlet-class>controller.SearchMovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieListController</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountViewController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountEditController</servlet-name>
        <url-pattern>/accountedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PremereController</servlet-name>
        <url-pattern>/premere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComingSoonController</servlet-name>
        <url-pattern>/coming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionController</servlet-name>
        <url-pattern>/promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionDetailController</servlet-name>
        <url-pattern>/promotion_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBannerListConntroller</servlet-name>
        <url-pattern>/adminbannerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddBannerController</servlet-name>
        <url-pattern>/add_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditBannerController</servlet-name>
        <url-pattern>/edit_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteBannerController</servlet-name>
        <url-pattern>/delete_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPromotionListController</servlet-name>
        <url-pattern>/adminpromotionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditPromotionController</servlet-name>
        <url-pattern>/edit_promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeletePromotionController</servlet-name>
        <url-pattern>/delete_promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSeatController</servlet-name>
        <url-pattern>/seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassController</servlet-name>
        <url-pattern>/ForgotPassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddPromotionController</servlet-name>
        <url-pattern>/add_promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreMovieController</servlet-name>
        <url-pattern>/loadmoremovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovieController</servlet-name>
        <url-pattern>/searchmovie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
