/* SM */
@media all and (min-width: 576px) {  

}
/* MD */
@media all and (min-width: 768px) {
    .searchbar{
        width: 75%;
    }
    .categories .categories_large_item img {
        width: 100%; 
        object-fit:cover ;
    }
}
/* LG */
@media all and (min-width: 992px) {
    body{
        padding-top: 0px;
    }
    .searchbar{
        margin-top: 0px;
        width: 50%;
    }
    .main-navbar{
        height: 100px;
    }
    .categories .categories_large_item img {
        width: 100%; 
        object-fit:cover ;
    }
    #navbar1{
        border-bottom: 3px solid #dc3545;
    }
}
/* XL */
@media all and (min-width: 1200px) { 

}
/* XXL */
@media all and (min-width: 1400px) { 

}